.fa-file {
  font-size: 30px;
  margin: 10px;
}

.fa-linkedin {
  font-size: 30px;
  margin: 10px;
}

.fa-github {
  font-size: 30px;
  margin: 10px;
}

.container {
  margin: 5%;
}

h4 {
}
